/web/bundles/
/app/bootstrap*
/app/cache/
/app/logs/
/app/sessions/
/vendor/
.buildpath
.project
.settings/*
/nbproject
/nbproject/private/
.mysql_history
.bash*
.ssh
.viminfo
/app/config/parameters.yml
/git-1.8.2.3/
public_html
.gitconfig
/.composer/
/.auto_backups/
.*.mp4
tags
.git
